* {
  margin: 0%;
}

table {
  border-collapse: collapse;
}

h1 {
  font-size: 48px;
}

strong {
  color: #379ACF;
}

header {
  background-position: absolute;
  background-color: #4EA1FF;
  background-repeat: repeat;
  background-size: contain;

}

.banner {
  background-image: url(../img/pattern.png)
}

.logo {
  margin-left: 15px;
  margin-top: 80px;
  height: 100px;
  width: 300px;
}

.headline {
  margin-left: 10px;

}

.subtitles {
  font-size: 16px;
  color: #8C8C8C;
}

.image-box {
  margin-top: 30px;
}

.highlighted {
  background-color: #FDFF00;
}

.p-list {
  margin-left: 10px;
  margin-top: 25px;
}

.list {
  margin-top: 25px;
}

.table-p {
  margin-left: 10px;
}

.table-head {
  background-color: #1FAAE6;
  color: white;
}

.firstandthird-line {
  background-color: #B1E6F2
}

.second-p {
  margin-top: 25px;
}