* {
  margin: 0;
}


p {
  padding-bottom: 20px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.name {
  color: #379ACF;
}

/*Header*/
header {
  padding-left: 20px;
  padding-top: 40px;
  background-color: #4EA1FF;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

header .logo {
  width: 200px;
}

/*/header*/

/*main*/
.headline {
  margin-left: 10px;

}

.date {
  font-size: .8em;
}

.subtitles {
  font-size: .8em;
  color: #8C8C8C;
}

.image-box {
  margin-top: 30px;
}

/*utility*/
.highlighted {
  background-color: #FDFF00;
}

/*/utility*/
/*List*/
ul {
  padding-left: 0%;
  margin-left: 15px;
}

.p-list {
  padding-left: 0%;
  margin-left: 15px;
}

/*/list*/


/*tabella*/
table {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  border-collapse: collapse;
}

thead {
  background-color: #1FAAE6;
  color: white;
}

.firstandthird-line {
  background-color: #B1E6F2
}

.text {
  width: 50%;
}

/*/tabella*/

.second-p {
  margin-top: 25px;
  margin-left: 10px;
}

footer {
  margin-top: 25px;
  margin-left: 10px;
}

/*main*/

/*footer*/
footer h3 {
  color: #8C8C8C;
}

.foot-image-box1 {
  margin-top: 15px;
  background-image: url('../img/monitor.jpg');
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 250px;
}

.foot-image-box2 {
  margin-top: 15px;
  background-image: url(' ../img/graph.jpg');
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 250px;
}

.caption {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}

/*/footer*/